language: cpp
compiler:
  - gcc
  # - clang

before_install:
  - CDIR=$(pwd)
  - sudo apt-get update -qq
  - sudo apt-get install tree zip -y
  - git clone -b bin https://github.com/manhtuvjp/test_mxe.git mxe
  - cd mxe
  # - chmod 777 ./link.sh
  # - ./link.sh
  - export PATH=$CDIR/mxe/usr/bin:$PATH
# - unset `env | grep -vi '^EDITOR=\|^HOME=\|^LANG=\|MXE\|^PATH=' | grep -vi 'PKG_CONFIG\|PROXY\|^PS1=\|^TERM=' | cut -d '=' -f1 | tr '\n' ' '`

before_script:
  - cd $CDIR
  - git clone -b master https://github.com/manhtuvjp/mini-paint.git mini-paint-master

script:
  - cd mini-paint-master
  - cd plugins/
  - $CDIR/mxe/usr/i686-pc-mingw32/qt5/bin/qmake plugins.pro
  - make -j 10
  - make clean
  - cd ../
  - $CDIR/mxe/usr/i686-pc-mingw32/qt5/bin/qmake mini-paint.pro
  - make -j 10
  - make clean
  - CDIR=$(pwd)
  - cp libextrafilters.a ./release/
  - zip -r minni-paint.zip ./release

after_success:
  - cd $HOME
  - ls
  - git config --global user.email "manhtuvjp@gmail.com"
  - git config --global user.name "MT"
  - git clone --quiet --branch=bin https://${GH_TOKEN}@github.com/manhtuvjp/mxe-paint.git paint_bin > /dev/null
  - cd paint_bin
  - cp $CDIR/minni-paint.zip .
  # - chmod +x link.sh
  # - cp -Rf $HOME/mxe/usr .
  # - cp -f $HOME/mxe/tree.txt .
  - git add -f .
  - git commit -m "Travis build $TRAVIS_BUILD_NUMBER pushed to bin"
  - git push -fq origin bin > /dev/null
  - echo -e "Done"

branches:
  only:
    - master

notifications:
  email:
    recipients:
      - manhtuvjp@gmail
      - hoaiphong95@gmail
    on_success: always
    on_failure: always
  irc:
    channels:
      - "chat.freenode.net#manhtu"
      - "chat.freenode.net##manhtu"
    template:
      - "%{repository}/%{branch} (%{commit} - %{author}): %{message}"
      - "Change view : %{compare_url}"
      - "Build details : %{build_url}"
    on_success: always
    on_failure: always

env:
  global:
  - secure: G5AYDU0LIHIjigB7dvYnt9tVsDauNtQ0FdZMBOehjHczaU/wxXqnRhAobFRuuEG19Q6uvcyqA+dK5Tn4AzEd1FjLXW5/u8vi8yNUAyDdWA1+whnP9pL2qQTJKy/c6nxZAEXakGO+SO/NKU3pzmziNeVSeGKKrwF/aE5Wv5VsV3M=
